<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/style.css">
      <title>Login - To-Do List App</title>
    </head>
    <body>
      <div class="login-container">
        <h1>Login</h1>
        <form id="loginForm" action="/login" method="post">
          <input id="usernameInput" type="text" name="username" placeholder="Username" maxlength="40">
          <input id="passwordInput" type="password" name="password" placeholder="Password" maxlength="40">
          <button type="submit" id="loginButton">Log In</button>
        </form>
      </div>
    </body>
    <script>
      document.addEventListener('DOMContentLoaded', async function () {
        const loginForm = document.getElementById('loginForm');
        const usernameInput = document.getElementById('usernameInput');
        const passwordInput = document.getElementById('passwordInput');
  
        loginForm.addEventListener('submit', async function (event) {
          event.preventDefault();
          
          const URL_DASHBOARD = "http://54.88.39.39:8501/"
          const username = usernameInput.value;
          const password = passwordInput.value;
  
          const response = await fetch('/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ username:username, password:password })
          });
  
          if (response.ok) {
            const data = await response.json();
            document.cookie = `token=${data.token}; path=/`; // Set token as cookie
            window.location.href = URL_DASHBOARD; // Redirect to the protected page
          } else {
            alert('Invalid credentials. Please try again.');
          }
        });
      });
    </script>
</html>